extends ../layout

block content
  h2= title
  table.players
    thead
      tr
        th.col First name
        th.col Last name
        th.col Phone
        th.col Email
    tbody
      each player in players
        tr.player
          td= player.first_name
          td= player.last_name
          td= player.phone
          td= player.email
