extends ../layout

block content
  h2= title
  nav
    .nav__item
      a(href="/players/add") Add Player
  table.players
    thead
      tr
        th.col First name
        th.col Last name
        th.col Phone
        th.col Email
    tbody
      each player in players
        tr.player__row
          td= player.firstName
          td= player.lastName
          td= player.phone
          td= player.email