extends ../layout

block content
  h2= title
  nav
    .nav__item
      a(href="/events/add") Add Event
  table.events
    thead
      tr
        th.col Date
        th.col Start time
        th.col End time
        th.col Location
        th.col Past?
    tbody
      each event in events
        tr.event__row
          td
            a(href=`/events/${event.id}`) #{h.moment(event.date).format('DD MMM YYYY')}
          td= event.start_time
          td= event.end_time
          td= event.location
          td= event.past